<h1>Student Form</h1>

<%= form_tag @student do %>
<label>First Name:</label><br>
<input type="text"  name="student[first_name]"><br>

<label>Last Name:</label><br>
<input type="text" name="student[last_name]">

<input type="submit" value="Submit Student" >

<% end %>
